.homeSpace {
    background-color: rgb(121, 90, 14);
    max-width: 1920px;

    .homeArea {
        padding-top: -20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        height: 1400px;

        .box1 {
            width: 1200px;
            height: 365px;
            background-color: #d8a331;
            display: flex;
            justify-content: space-between;

            .text1 {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 30px;
                text-align: center;
                border: rgb(51, 34, 3) 20px;
                border-style: double;

                p {
                    color: white;
                    font-size: 40px;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                }
            }

            img {
                width: 365px;
            }

        }

        .box2 {
            width: 1200px;
            background-color: #d8a331;
            display: flex;
            height: 365px;
            justify-content: space-between;

            .text2 {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 30px;
                text-align: center;
                border: rgb(51, 34, 3) 20px;
                border-style: double;

                p {
                    color: white;
                    font-size: 40px;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

                }
            }

            img {
                height: 365px;
                width: 365px;
                object-fit: cover;
            }
        }

        .box3 {
            width: 1200px;
            background-color: #d8a331;
            display: flex;
            height: 365px;
            justify-content: space-between;

            .text3 {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 30px;
                text-align: center;
                border: rgb(51, 34, 3) 20px;
                border-style: double;

                p {

                    color: white;
                    font-size: 40px;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                }
            }

            img {
                height: 365px;
                width: 365px;
                object-fit: cover;
            }
        }
    }


}

@media only screen and (max-width: 1270px) {
    .homeSpace {
        .homeArea {
            display: flex;
            flex-direction: column;

            .box1 {
                width: 700px;

                .text1 {
                    p {
                        font-size: 28px;
                    }
                }
            }

            .box2 {
                width: 700px;

                .text2 {
                    p {
                        font-size: 30px;
                    }
                }

            }

            .box3 {
                width: 700px;

                .text3 {
                    p {
                        font-size: 29px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 780px) {
    .homeSpace {


        .homeArea {
            display: flex;
            flex-direction: column;
            align-items: center;

            .box1 {
                width: 400px;

                .text1 {
                    width: 100px;

                    p {
                        font-size: 19px;
                    }
                }

                img {
                    width: 200px;
                    object-fit: cover;
                }
            }

            .box2 {
                width: 400px;

                .text2 {

                    width: 100px;

                    p {
                        font-size: 19px;
                    }
                }

                img {
                    width: 200px;
                }

            }

            .box3 {
                width: 400px;

                .text3 {

                    width: 100px;

                    p {
                        font-size: 20px;
                    }
                }

                img {
                    width: 200px;
                }
            }
        }
    }
}