* {
    margin: 0;
}

footer {
    height: 60px;
    background-color: rgb(255, 187, 0);
    border-top: 5px solid rgb(255, 221, 30);
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        text-decoration: none;
        color: rgb(124, 93, 7);
        font-weight: bold;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        letter-spacing: 5px;
        font-size: 20px;
    }
}